{{ include('_prerequisites.html.twig') }}

<script src="{{ asset('js/moveBar.js') }}"></script>

<body class="w3-black">

	{{ include('landing/_sidebar.html.twig') }}

	<!-- Page Content -->
	<div
		class="w3-padding-large" id="main">
		<!-- Header/Home -->
		<header class="w3-container w3-padding-32 w3-center w3-black" id="home">
			<h1 class="w3-jumbo">
				<span class="w3-hide-small">
					The Boss of Me
				</h1>
            <p>
                Press <i>play</i> to accept defaults and begin. Or enter a new list below.
            </p>
			</header>


			{# ////////////////////////////// #}
			<style>
				#myProgress {
					width: 100%;
					background-color: #333;
				}

				#myBar {
					width: 1%;
					height: 30px;
					background-color: #000;
				}
			</style>

			<div class="w3-bar">
				<button class="w3-button w3-round-xxlarge w3-dark-gray w3-hover-green w3-left" id="start-timer">
					<i class="fa fa-play" aria-hidden="true"></i>
				</button>
				<button class="w3-button w3-round-xxlarge w3-dark-gray w3-margin-left w3-hover-white w3-left"  id="pause-timer">
					<i class="fa fa-pause" aria-hidden="true"></i>
				</button>
				<button class="w3-button w3-hover-red w3-right" onclick= 'alert("Remove all timers and start over!\nAre you sure?\n Todo: this button is not working yet actually.")' >Delete All</button>
			</div>

			{% for timer in timers %}
				<div>
					<p class="w3-wide" id="task1">
						[0:
						{{ timer.duration }}
						]

						{{ timer.description }}
					</p>
					<div class="w3-dark-grey">
						<div class="w3-black" id="timer{{ timer.id }}" minutes="{{timer.duration}}" style="height:28px;width:0%">
							timer{{ timer.id }}
						</div>
					</div>

				</div>

			{% endfor %}

            <div class="w3-panel w3-pale-green w3-border" style="display: none" id="debug-notice">
        <p>Debug mode: Timer is running at 200x speed</p>
      </div>

			<br>

			{# ////////////////////////////// #}
<h2>
    [Form for entering new data will go here.]
</h2>

			{{ include('landing/_footer.html.twig') }}

			<!-- END PAGE CONTENT -->
		</div>

	</body>
</body>
